footer {
  background: #e3f2ef;
  padding: 30px 0;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

footer img {
  width: 80px;
}

footer h3 {
  margin-bottom: 10px;
  color: #1e4b60;
}

footer p,
footer a {
  margin: 5px 0;
  font-size: 14px;
  color: #1e4b60;
  text-decoration: none;
}

#connexion {
  margin: 0;
  font-family: Arial, sans-serif;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.shape {
  position: absolute;
  opacity: 0.3;
}
