<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>KeepMyPet - Entete</title>
    <link rel="stylesheet" href="../css/header.css" />
  </head>
  <body>
    <header>
      <div class="logo-container">
        <a href="../pages/home.html">
          <img src="../images/KeepMyPet_Logo.png" alt="KeepMyPet Logo" />
        </a>
      </div>

      <nav class="nav-bar">
        <a href="#">Accueil</a> | <a href="#">Annonces</a> |
        <a href="#">Contact</a> |
        <a href="../pages/sign-up.html">Connexion</a>
      </nav>

      <div class="lang">
        <img src="https://flagcdn.com/w40/fr.png" class="flag" />
        FR
      </div>
    </header>
  </body>
  <!-- <style>
    /* DEBUGGING */
    * {
      border: 1px solid red;
    }
  </style> -->
</html>
