/* FOOTER */
footer {
    background: #e3f2ef;
    padding: 30px 0;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

footer img {
    width: 80px;
}

footer h3 {
    margin-bottom: 10px;
    color: #1e4b60;
}

footer p,
footer a {
    margin: 5px 0;
    font-size: 14px;
    color: #1e4b60;
    text-decoration: none;
}
