/* HEADER */
header {
    display: flex;
    align-items: center;
    padding: 15px 40px;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-container img {
    width: 80px;
}

.nav-bar {
    margin-left: 60px;
    background: #a8dcd5;
    padding: 15px 40px;
    border-radius: 40px;
    font-size: 22px;
    display: flex;
    gap: 40px;
    align-items: center;
}

.nav-bar a {
    text-decoration: none;
    color: #1e4b60;
}

.lang {
    margin-left: auto;
    background: #a8dcd5;
    padding: 10px 20px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    gap: 15px;
    font-weight: bold;
}

.flag {
    width: 35px;
    border-radius: 5px;
}
