body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: white;
}

/* SECTION INTRO */
.intro {
  background: #bfe6e0;
}

.intro .text {
  padding: 20px;
  font-size: 18px;
  line-height: 1.6;
}

/* COMMENT ÇA MARCHE */
.how-it-works {
  background: #bfe6e0;
}

.how-it-works ul {
  font-size: 18px;
}

/* --- RESPONSIVE --- */

/* Mobile AND Tablet (< 1024px) */
@media (max-width: 1024px) {
  /* SECTION INTRO */
  .intro {
    display: flex;
    margin: 20px;
    padding: 20px;
    border-radius: 30px;
    justify-content: space-between;
    align-items: center;
  }

  .intro .image {
    width: 400px;
    height: auto;
  }

  /* COMMENT ÇA MARCHE */
  .how-it-works {
    display: flex;
    margin: 20px;
    padding: 20px;
    border-radius: 30px;
    justify-content: space-between;
    align-items: center;
  }

  .how-it-works .how-it-works-text {
    display: flex;
    flex-direction: column;
  }

  .how-it-works .image {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .how-it-works .image img {
    display: block;
    width: 300px;
    height: auto;
  }

  .how-it-works .image,
  .intro .image {
    display: none;
  }
}

/* Desktop (> 1024px) */
@media (min-width: 1025px) {
  /* SECTION INTRO */
  .intro {
    display: flex;
    margin: 40px;
    padding: 20px;
    border-radius: 30px;
    gap: 10px;
  }

  .intro .intro-text {
    display: flex;
    flex-direction: column;
  }

  .intro .image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .intro .image img {
    display: block;
    width: 400px;
    height: auto;
  }

  /* COMMENT ÇA MARCHE */
  .how-it-works {
    margin: 40px;
    padding: 25px;
    display: flex;
    border-radius: 30px;
    justify-content: space-between;
    align-items: center;
  }

  .how-it-works .how-it-works-text {
    display: flex;
    flex-direction: column;
  }

  .how-it-works .image {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .how-it-works .image img {
    display: block;
    width: 300px;
    height: auto;
  }
}
