body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: white;
}

/* SECTION INTRO */
.intro {
  background: #bfe6e0;
}

.intro .text {
  padding: 20px;
  font-size: 18px;
  line-height: 1.6;
}

/* COMMENT ÇA MARCHE */
.how-it-works {
  background: #bfe6e0;
}

.how-it-works ul {
  font-size: 18px;
}

/* --- RESPONSIVE --- */

/* Mobile (< 601px) */
@media (max-width: 600px) {
}

/* Tablet (601px - 1024px) */
@media (min-width: 601px) and (max-width: 1024px) {
}

/* Desktop (> 1024px) */
@media (min-width: 1025px) {
  /* SECTION INTRO */
  .intro {
    display: flex;
    margin: 40px;
    padding: 20px;
  }

  .intro .image {
    width: 400px;
    height: auto;
  }

  /* COMMENT ÇA MARCHE */
  .how-it-works {
    margin: 40px;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .how-it-works .text {
    display: flex;
    flex-direction: column;
  }

  .how-it-works .image {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .how-it-works .image img {
    display: block;
    width: 300px;
    height: auto;
  }
}
