#loginButton {
padding: 12px 25px;
font-size: 18px;
background-color: #1e90ff;
color: white;
border: none;
border-radius: 8px;
cursor: pointer;
transition: 0.25s;
}

#loginButton:hover {
background-color: #0b6fcc;
}