/* ================= FORMES DÉCORATIVES ================= */
/* Base pour toutes les formes */
.shape {
  position: absolute; /* permet de les placer librement */
  width: 4vw;
}

.shapes-container {
  position: absolute; /* reste toujours par rapport à l’écran */
  inset: 0;
  pointer-events: none; /* pour que les formes ne bloquent pas le clic sur le formulaire */
  z-index: -1;
  justify-content: space-around;
  overflow: hidden;
  height: calc(100vh - 110px);
}

/* Cercle */
.circle {
  width: 4vw;
  height: 4vw;
  border-radius: 50%;
  background-color: #60bdb6;
}

/* Triangle */
.triangle {
  width: 0px;
  height: 0px;
  border-left: 2vw solid transparent;
  border-right: 2vw solid transparent;
  border-bottom: 4vw solid #58b1c9;
}

/* --- RONDS (20) --- */
#c1 {
  top: 50%;
  left: 5%;
}
#c2 {
  top: 3%;
  left: 30%;
}
#c3 {
  top: 5%;
  left: 60%;
}
#c4 {
  top: 21%;
  left: 43%;
}
#c5 {
  top: 15%;
  left: 4%;
}
#c6 {
  top: 80%;
  left: 24%;
}
#c7 {
  top: 86%;
  left: 54%;
}
#c8 {
  top: 43%;
  left: 48%;
}
#c9 {
  top: 3%;
  left: 87%;
}
#c10 {
  top: 84%;
  left: 88%;
}

/* --- TRIANGLES (20) --- */
#t1 {
  top: 2%;
  left: 15%;
}
#t2 {
  top: 25%;
  left: 55%;
}
#t3 {
  top: 27%;
  left: 11%;
}
#t4 {
  top: 80%;
  left: 8%;
}
#t5 {
  top: 60%;
  left: 52%;
}
#t6 {
  top: 78%;
  left: 40%;
}
#t7 {
  top: 3%;
  left: 45%;
}
#t8 {
  top: 80%;
  left: 70%;
}
#t9 {
  top: 8%;
  left: 74%;
}
#t10 {
  top: 3%;
  left: 45%;
}

/* ================= CONTAINER PRINCIPAL ================= */
html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column; /* organise le contenu en colonne */
}

.container {
  height: calc(100vh - 120px);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vw; /* espace entre logo et login */
  /* prend toute la hauteur de l’écran */
  overflow-x: hidden; /* enlève le scroll horizontal */
}

.logo-container {
  display: flex;
  justify-content: center;
}

.logo-container img {
  width: 50%;
}

.login-container {
  display: flex;
  justify-content: space-between;
  margin-right: 4vw;
}

.footer-container {
  width: 100%; /* prend toute la largeur du parent (body) */
}

/* ================= RESPONSIVE ================= */

/* Desktop (> 1024px) */
@media (min-width: 1025px) {
  .container {
    flex-direction: row;
    gap: 110px;
  }
  .logo-container img {
    width: 50%;
  }
}

/* Tablet (601px – 1024px) */
@media (max-width: 1024px) {
  .container {
    flex-direction: column;
    gap: 30px;
  }
  .logo-container {
    margin-top: 100px;
  }
  .logo-container img {
    width: 50%;
  }

  .login-container {
    width: 50%;
  }
  .shapes-container {
    display: none;
  }
}

/* Mobile (< 601px) */
@media (max-width: 600px) {
  .logo-container img {
    width: 50%;
  }

  .shapes-container {
    display: none;
  }
}

/* {
  border: 1px solid red;
}
*/
