/* --- STYLE --- */

header {
  font-family: Arial, sans-serif;
}

/* logo-container */
header .logo-container {
  display: flex;
}

header .logo-container img {
  width: 80px;
}

/* nav-bar */
header .nav-bar {
  display: flex;
  background: #a8dcd5;
  padding: 15px 40px;
  border-radius: 40px;
  font-size: 22px;
  gap: 40px;
}

header .nav-bar p {
  margin: 0;
}

header .nav-bar a {
  text-decoration: none;
  color: #1e4b60;
}

header .nav-bar #myLinks {
  display: flex;
  gap: 40px;
  align-items: center;
}

header .nav-bar #myLinks.active {
  display: flex !important;
}

/* lang */
header .lang {
  display: flex;
  align-items: center;
  background: #a8dcd5;
  padding: 10px 20px;
  border-radius: 40px;
  gap: 15px;
  font-weight: bold;
}

header .lang p {
  margin: 0;
}

header .lang img {
  width: 35px;
  border-radius: 5px;
}

header .lang select {
  background: transparent;
  border: none;
  font-weight: bold;
  color: #1e4b60;
  font-size: inherit;
  cursor: pointer;
  outline: none;
}

/* --- RESPONSIVE --- */

/* Mobile AND Tablet (< 1024px) */
@media (max-width: 1024px) {
  header {
    display: flex;
    align-items: center;
    padding: 10px 10px;
  }

  header .logo-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  header .nav-bar #myLinks {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #a8dcd5;
    padding: 10px;
    gap: 10px;
  }

  header .nav-bar #myLinks p {
    display: none;
  }

  header .nav-bar {
    position: relative;
  }

  header .lang {
    position: absolute;
    right: 10px;
  }
}

/* Desktop (> 1024px) */
@media (min-width: 1025px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
  }

  header .nav-bar .button-menu {
    display: none;
  }
}
